################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/OutputModule
/WinClipboard/x64
/WinClipboard/x86-node-v7.9.0-release
/WinClipboard/lib
